*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend",sans-serif;
}

#one{
    width: 400px;
    height: 550px;
    transform:scale(1.3);
    margin-top: 80px;
    margin-left: 20px;
}
.div1{
    display:flex;
    justify-content: space-evenly;
    margin-top: 70px;
    /* background-color: blueviolet; */
}
.div2{
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: burlywood; */
    height: 700px;
    width: 700px;
}
.div3{
    width: 70%;
    height: 500px;
    background-color: rgb(237, 233, 233);
    margin-top: 150px;
    padding-left: 30px;
    padding-top: 50px;
    margin-left: 230px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px 2px rgba(0,0,0,.16);
}
.h1{
    font-size: 1.6cm;
    text-align: left;
    font-weight: 600;
    color: #117fa4;
    margin-top: 30px;
    line-height: 1.2;
}
.h12{
    color: #117fa4;
    font-weight: 780;
    font-size:0.9cm;
}
.p{
    line-height: 1.8;
    color: #777;
    font-size: 1rem;
    margin-top: 5px;
}
.p1{
    color: #777;
}
h3{
    
    color: #777;
    line-height: 3.3;
}
.button{
    margin-top: 40px;
    color: #fff;
    background-color: #117fa4;
    text-align: center;
    border: 0px;
    width: 350px;
    height: 1.2cm;
    font-weight: 500;
    font-size: 15px;
}
ul li{
    margin-top: 20px;
    list-style:none;
    color: #777;
    font-size: larger;
}
.div4{
    background-color: #89d6c330;
    width: 100%;
    height: 1500px;
    margin-top: 90px;
    padding: 150px;
}
.div5{
    background-color: rgb(237, 233, 233);
    width: 86%;
    height: 350px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px 2px rgba(0,0,0,.16);
    margin-left: 80px;
    padding-top: 40px;
    padding-left: 40px;
}
.div7{
    background-color: rgb(237, 233, 233);
    width: 86%;
    height: 350px;
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px 2px rgba(0,0,0,.16);
    margin-left: 80px;
    padding-top: 40px;
    padding-left: 40px;
}
.div6{
    /* background-color: brown; */
    width: 50%;
}
.div9{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    color: #777;
}
.p2{
    font-size: 1rem;
    font-weight: 500;
    line-height: 0.8cm;
}
.p3{
    font-size: 1rem;
    font-weight: 200;
}

